/client/target/classes/br/com/comunicacao/*.class
/client/target/classes/br/com/factory/*.class
/client/target/classes/br/com/model/*.class
/client/target/classes/br/com/view/*.class
/client/target/classes/br/com/view/componente/*.class
/client/target/test-classes/br/com/*.class
